.row,
.column{
    display: flex;
    gap: 1rem;
    background-color: bisque;
    margin-bottom: 2rem;
}

.flex-item{
    /* width: calc((100% - 2rem) / 3); */
    width: 300px;
    background-color: cadetblue;
    padding: .75rem;
}

.row{
    justify-content: center;
}

.column{
    align-items: center;
    flex-direction: column;
}